@model Sampe.Models.Expedicao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Expedicao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.NomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.NomeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marcanti.NomeEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marcanti.NomeEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdemProducaoCopo.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdemProducaoCopo.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdemProducaoKit.ProdIncio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdemProducaoKit.ProdIncio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vencimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vencimento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExpedicaoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
