@model IEnumerable<Sampe.Models.OrdemProducaoCopo>

@{
	ViewBag.Title = "Index";
}

<div class="container">
	<h2>Ordens de Produção</h2>
	<h4>COPO</h4>

	<div class="container col-md-12">
		<div class="form-group text-center">
			<div class=" col-md-10">
				<a class="btn btn-default" href="/OrdemProducaoCopos/Create">Nova Ordem de Produção</a>
			</div>
		</div>
	</div>
	<br />
	<table class="table table-bordered table-responsive">
		<tr>
			<th>
				Código
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Expectativa.Produto)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TotalProduzidos)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MateriaPrima)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Maquina.NomeMaquina)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Data)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProdIncio)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProdFim)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.CodigoIdentificador)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Expectativa.Produto)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TotalProduzidos)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MateriaPrima)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Maquina.NomeMaquina)
			</td>
			<td>
				@item.Data.ToString("dd/MM/yyyy")
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProdIncio)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProdFim)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Status)
			</td>
			<td>
				@{ if (item.Status == true)
			{
				<a href="/OrdemProducaoCopos/Edit/@item.CodigoIdentificador" class="btn btn-default btn-sm " disabled><span class="glyphicon glyphicon-pencil"></span></a>
	}
	else
	{
		<a href="/OrdemProducaoCopos/Edit/@item.CodigoIdentificador" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
}
				}
				<a id="delete" href="/OrdemProducaoCopos/Delete/@item.CodigoIdentificador" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></a>
			</td>
		</tr>
		}

	</table>
	</div>