@model IEnumerable<Sampe.Models.OrdemProducaoKit>
@{
    ViewBag.Title = "Ordens de Produção";
}
<div class="container">
    <h2>Ordens de Produção</h2>
    <h4>KIT</h4>

    <table class="table table-bordered table-responsive">
        <tr>
            <th>
                Código
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                Produção Início
            </th>
            <th>
                Produção Fim
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalProduzido)
            </th>
            <th>
                Operador
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoIdentificadorKit)
                </td>
                <td>
                    @item.Data.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProdIncio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProdFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalProduzido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.NomeUsuario)
                </td>
                <td>
                    @{ if (item.Status == true)
                        {
                            <a href="/OrdemProducaoKits/Edit/@item.CodigoIdentificadorKit" class="btn btn-default btn-sm " disabled><span class="glyphicon glyphicon-pencil"></span></a>
                        }
                        else
                        {
                            <a href="/OrdemProducaoKits/Edit/@item.CodigoIdentificadorKit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
                        }
                    }

                    <a id="delete" href="/OrdemProducaoKits/Delete/@item.CodigoIdentificadorKit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></a>

                </td>
            </tr>
        }
    </table>
    <div class="container col-md-12">
        <div class="form-group text-center">
            <div class=" col-md-10">
                <a class="btn btn-default" href="/OrdemProducaoKits/Create">Nova Ordem de Produção</a>
            </div>
        </div>
    </div>
</div>